@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}
body {
  background-color: #f4f4f4;
}
.heading {
  text-align: center;
  margin: 2rem;
}
.heading .hd::before,
.hd::after {
  content: "";
  color: red;
  width: 4rem;
  height: 4px;
  border-top: 0.2rem solid red;
  display: inline-block;
  padding: 0 20px;
  margin: 0 1rem;
}
.heading h1 {
  margin: 0px 20rem;
}
.emp {
  width: 420px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 0rem;
  border-radius: 15px;
  transition: scale 1s, box-shadow 1s;
}
.emp img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 5px solid white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.container {
  display: flex;
  height: 120vh;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 1500px;
  margin: 0 auto;
}
.info {
  text-align: center;
}

/* Text style */
.info h1 {
  color: #32353a;
  font-size: 30px;
}
.info h2 {
  color: #75787a;
  font-style: italic;
  font-size: 16px;
  font-weight: 300;
}
.info p {
  font-weight: 300;
  padding: 0 20px;
}
.info * {
  padding: 10px 0px;
}
.emp img {
  scale: 1.08;
  transition: scale 1s;
}
.social-links i {
  position: relative;
  bottom: 135px;
  color: rgb(255, 255, 255);
  font-size: 30px;
  margin: 0 8px;
  display: none;
  transition: color 0.5s;
}
/* Hovers */
.emp:hover {
  scale: 1.04;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  transition: all 1s;

  img {
    scale: 1;
    box-shadow: none;
    transition: all 1s;
    filter: brightness(20%);
  }
  .social-links,
  i {
    display: flex;
    flex-direction: row;
    animation: up2down 0.5s ease-out;
  }
}
.social-links i:hover {
  transform: scale(1.05);
  color: red;
  cursor: pointer;
  transition: all 0.2s;
}

/* Animation */
.emp1,
.emp2,
.emp3 {
  animation: uptodown 1s ease-out;
}
@keyframes uptodown {
  from {
    transform: translateY(-400px);
  }
  to {
    transform: translateY(0px);
  }
}
.emp4,
.emp5,
.emp6 {
  animation: downtoup 1s ease-out;
}
@keyframes downtoup {
  from {
    transform: translateY(400px);
  }
  to {
    transform: translateY(0px);
  }
}

@keyframes up2down {
  from {
    transform: translateY(-50px);
  }
  to {
    transform: translateY(0px);
  }
}

/* Responsive */
